<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add new project</h4>
      </div>
      <div class="modal-body">
          <form role="form" method="post" class="form-horizontal" ng-submit="vm.create()">
              <div class="form-group">
              <label for="title" class="col-sm-2 control-label">Title</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="title" ng-model="vm.project.title" placeholder="Enter project title">
              </div>
            </div>
            <div class="form-group">
              <label for="description" class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10">
                <textarea class="form-control" id="description" rows="5" ng-model="vm.project.description"></textarea>
              </div>
            </div>
              <div class="form-group">
              <label for="startDate" class="col-sm-2 control-label">Start Date</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="startDate" ng-model="vm.project.start_date" placeholder="Start date">
              </div>
            </div>
              <div class="form-group">
              <label for="endDate" class="col-sm-2 control-label">End Date</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="endDate" ng-model="vm.project.end_date" placeholder="End date">
              </div>
            </div>
              <div class="form-group">
              <label for="team" class="col-sm-2 control-label">End Date</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="team" ng-model="vm.project.team" placeholder="Select team">
              </div>
            </div>

              <fieldset  data-ng-repeat="choice in choices">
                  <select>
                     <option>Mobile</option>
                     <option>Office</option>
                     <option>Home</option>
                  </select>
                  <input type="text" ng-model="choice.name" name="" placeholder="Enter mobile number">
                  <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
               </fieldset>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Save</button>
              </div>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>