<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add new project</h4>
      </div>
      <div class="modal-body">
          <form role="form" method="post" class="form-horizontal" ng-submit="vm.create()">
              <div class="form-group">
              <label for="title" class="col-sm-2 control-label">Title</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="title" ng-model="vm.project.title" placeholder="Enter project title">
              </div>
            </div>
            <div class="form-group">
              <label for="description" class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10">
                <textarea class="form-control" id="description" rows="5" ng-model="vm.project.description"></textarea>
              </div>
            </div>
              <div class="form-group">
              <label class="col-sm-2 control-label">Start Date</label>
              <div class="col-sm-10">
                   <datetimepicker data-ng-model="vm.project.start_date"></datetimepicker>
              </div>
            </div>
              <div class="form-group">
              <label class="col-sm-2 control-label">End Date</label>
              <div class="col-sm-10">
                   <datetimepicker data-ng-model="vm.project.end_date"></datetimepicker>
              </div>
            </div>

              <!--<div class="form-group">
              <label class="col-sm-2 control-label">End Date</label>
              <div class="col-sm-10">
                &lt;!&ndash;<input type="date" class="form-control" id="endDate" ng-model="vm.project.end_date" placeholder="End date">&ndash;&gt;
                &lt;!&ndash;<uib-datepicker ng-model="dt" class="well well-sm"></uib-datepicker>&ndash;&gt;
                &lt;!&ndash;<input id="endDate" type="text" data-ng-datepicker ng-options="vm.datepickerOptions" data-ng-model="startdate">&ndash;&gt;
                &lt;!&ndash;<input type="text" ng-datepicker ng-options="datepickerOptions" ng-model="date">&ndash;&gt;
              </div>
            </div>-->
              <div class="form-group">
              <label for="teamSelect" class="col-sm-2 control-label">Team</label>
              <div class="col-sm-10">
                  <select name="mySelect" id="teamSelect" class="form-control"
                      ng-options="option.name for option in vm.teams track by option.id"
                      ng-model="vm.project.team">
                  </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Save</button>
              </div>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>