<div ng-controller="TeamController as vm">
    <div ng-hide="vm.teams">
        <h3>You have not create any team.</h3>
        <a ui-sref=".newTeam">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                 Create team now
            </button>
        </a>
    </div>

    <div class="col-md-10 col-md-offset-1" ng-show="vm.teams">
        <a ui-sref=".newTeam">
            <button type="button" class="btn btn-info push-right" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-plus"></i> Create another team
            </button>
        </a>
        <h3>Team list</h3>
        <span>Total teams: {{vm.teams.length}}</span>
        <div class="row">
        <div >
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Total member</th>
                    <th class="push-right"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="team in vm.teams.slice(((vm.currentPage-1)*vm.itemsPerPage), ((vm.currentPage)*vm.itemsPerPage))">
                    <td>{{ team.id }}</td>
                    <td>{{ team.name }}</td>
                    <td>{{ team.member.length }}</td>
                    <td class="push-right">
                        <a ui-sref=".teamDetail({teamID: team.id})">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#viewModal">
                                <i class="fa fa-eye"></i>
                            </button>
                        </a>
                        <a ui-sref=".teamEdit({teamID: team.id})">
                            <button class="btn btn-success" data-toggle="modal" data-target="#editModal">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </a>
                        <!--<a href="javascript:void(0)" ng-click="vm.deleteTeam(team.id, team)">-->
                            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal-{{team.id}}">
                            <!--<button class="btn btn-danger">-->
                                <i class="fa fa-trash-o"></i>
                            </button>
                        <!--</a>-->

                        <div class="modal fade" id="deleteModal-{{team.id}}" role="dialog">
                            <!--<div ui-view>-->
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content cancel-alert">
                                        <div class="modal-body">
                                            <h1>Are you sure ?</h1>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                                                    <a href="javascript:void(0)" ng-click="vm.deleteTeam(team.id, team)">

                                            <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
                                                                        </a>
                                        </div>
                                    </div>
                                </div>
                            <!--</div>-->
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
        <uib-pagination total-items='vm.teams.length' items-per-page="vm.itemsPerPage" ng-model="vm.currentPage"></uib-pagination>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div ui-view>

        </div>
    </div>
    <div class="modal fade" id="viewModal" role="dialog">
        <div ui-view>

        </div>
    </div>
    <div class="modal fade" id="editModal" role="dialog">
        <div ui-view>

        </div>
    </div>
</div>