<!DOCTYPE html>
<html lang="en" ng-app="empee">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--<base href="/" />-->

    {% include 'style.html' %}
</head>
<body>
    <div class="container">
    <div class="well">
    <h1>This is body</h1>
        <form role="form">
            <div class="input-group">
                <label>Email</label>
                <input class="form-control" type="email" />
            </div>
            <div class="input-group">
                <label>Password</label>
                <input class="form-control" type="password" />
            </div>
        </form>
    </div>
    <!--<div ui-view></div>-->
    <div ng-view></div>
        </div>
    {% include 'javascript.html' %}
</body>
</html>