{% load staticfiles %}

<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
 <!--<script type="text/javascript" src="http://mdbootstrap.com/mdbcdn/mdb.min.js"></script>-->
<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-jwt/dist/angular-jwt.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/empee.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/empee.routes.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'javascript/empee.config.js' %}"></script>-->
<script type="text/javascript" src="{% static 'javascript/authentication/empee.authentication.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/authentication/controllers/login.controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/layout/controllers/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/layout/controllers/dashboard.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/profile/profile.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/profile/services/profile.services.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/profile/controllers/profile.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/projects/projects.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/projects/controllers/projects.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/projects/controllers/projects.detail.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/projects/services/projects.services.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/post/post.module.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'javascript/post/controllers/posts.controller.js' %}"></script>-->
<script type="text/javascript" src="{% static 'javascript/post/services/posts.service.js' %}"></script>