    <div class="main-content">
                <!--left-fixed -navigation-->
                <!-- <ng-include  src="'templates/blocks/sidebar.html'"></ng-include> -->
                <div class=" sidebar" role="navigation">
                    <div class="navbar-collapse">
                        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                            <ul class="nav" id="side-menu">
                                <li>
                                    <a ui-sref="dashboard"><i class="fa fa-home nav_icon"></i>Dashboard</a>
                                </li>
                                <li>
                                    <a ui-sref=".post"><i class="fa fa-table nav_icon"></i>News Feed</a>
                                </li>
                                <li>
                                    <a ui-sref=".project"><i class="fa fa-book nav_icon"></i>Projects</a>
                                    <!-- /nav-second-level -->
                                </li>
                                <li>
                                    <a ui-sref=".users"><i class="fa fa-th-large nav_icon"></i>Users</a>
                                </li>
                                <li>
                                    <a ui-sref=".createPost"><i class="fa fa-th-large nav_icon"></i>Create post</a>
                                </li>

                                <li>
                                    <a href="#"><i class="fa fa-table nav_icon"></i> Teams</a>
                                </li>
                            </ul>
                            <div class="clearfix"> </div>
                            <!-- //sidebar-collapse -->
                        </nav>
                    </div>
                </div>
                <!--left-fixed -navigation-->

                <!-- header -->
                <!-- <ng-include  src="'templates/blocks/header.html'"></ng-include> -->
                <!-- header-starts -->
                <div class="sticky-header header-section ">
                    <div class="header-left">
                        <!--toggle button start-->
                        <button id="showLeftPush"><i class="fa fa-bars"></i></button>
                        <!--toggle button end-->
                        <!--logo -->
                        <div class="logo">
                            <a href="index.html">
                                <h1>Empee</h1>
                                <span>SkylarkSoft</span>
                            </a>
                        </div>
                        <!--//logo-->
                        <!--search-box-->
                        <div class="search-box">
                            <form class="input">
                                <input class="sb-search-input input__field--madoka" placeholder="Search..." type="search" id="input-31" />
                                <label class="input__label" for="input-31">
                                    <svg class="graphic" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                                        <path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
                                    </svg>
                                </label>
                            </form>
                        </div><!--//end-search-box-->
                        <div class="clearfix"> </div>
                    </div>

                        <!--notification menu end -->
                        <div class="profile_details">
                            <ul>
                                <li class="dropdown profile_details_drop">
                                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <div class="profile_img">
                                            <span class="prfil-img"><img src="images/user-50x50.png" alt=""> </span>
                                            <div class="user-name">
                                                <p>{{ vm.username }}</p>
                                                <span>Administrator</span>
                                            </div>
                                            <i class="fa fa-angle-down lnr"></i>
                                            <i class="fa fa-angle-up lnr"></i>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu drp-mnu">
                                        <li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>
                                        <li> <a ui-sref=".profile"><i class="fa fa-user"></i> Profile</a> </li>
                                        <li> <a href="javascript:void(0)" ng-click="vm.logout()"><i class="fa fa-sign-out"></i> Logout</a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                <!--</div>-->
                <!-- //header-ends -->


                <!-- main content start-->
                <div id="page-wrapper">
                    <div class="main-page">
                        <!-- ui-view -->
                          <div ng-controller="DashboardController as vm">
                              <div class="row">
                                <div ui-view>
                                    <h1 class="lead">Dashboard</h1>
                                        <div ng-include="'templates/posts.html'"></div>
                                        <div class="col-md-4">
                                            <div class="panel panel-primary">
                                              <div class="panel-heading">Project Information</div>
                                              <div class="panel-body" >
                                                <h3 ng-show="(vm.projects | userProject:vm.userid).length==0 ">You are not Involved any project yet.</h3>
                                                <table class="table table-bordered" ng-hide="(vm.projects | userProject:vm.userid).length==0 ">
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Title</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    <tr ng-repeat="project in vm.projects | userProject:vm.userid">
                                                        <!--<td>{{ member.id }}</td>-->
                                                        <td>{{ project.id }}</td>
                                                        <td>{{ project.title }}</td>
                                                        <td><a ui-sref=".projectDetail({ projectID: project.id })"><button type="button" class="btn btn-link">View</button></a></td>
                                                    </tr>
                                                </table>
                                              </div>
                                            </div>
                                            <div class="panel panel-success">
                                              <div class="panel-heading">Team Information</div>
                                              <div class="panel-body">
                                                You are not in a team.
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          </div>
                    </div>
                </div>
                <!-- Footer -->
                <!--<ng-include  src="'templates/blocks/footer.html'"></ng-include>-->
                  <!--footer-->
                  <div class="footer">
                     <p>&copy; 2016 Skylark Soft | Design by <a href="https://skylarksoft.com/" target="_blank">Skylarksoft Team</a></p>
                  </div>
                  <!--//footer-->
    </div>



