    <div class="main-content">
                <!--left-fixed -navigation-->
                <!-- <ng-include  src="'templates/blocks/sidebar.html'"></ng-include> -->
                <div class=" sidebar" role="navigation">
                    <div class="navbar-collapse">
                        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                            <ul class="nav" id="side-menu">
                                <li>
                                    <a href="index.html"><i class="fa fa-home nav_icon"></i>Dashboard</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-table nav_icon"></i>News Feed</a>
                                </li>
                                <li class="">
                                    <a href="#"><i class="fa fa-book nav_icon"></i>Projects</a>
                                    <!-- /nav-second-level -->
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-th-large nav_icon"></i>Users</a>
                                </li>

                                <li>
                                    <a href="#"><i class="fa fa-table nav_icon"></i> Teams</a>
                                </li>
                            </ul>
                            <div class="clearfix"> </div>
                            <!-- //sidebar-collapse -->
                        </nav>
                    </div>
                </div>
                <!--left-fixed -navigation-->


                <!-- header -->
                <!-- <ng-include  src="'templates/blocks/header.html'"></ng-include> -->
                <!-- header-starts -->
                <div class="sticky-header header-section ">
                    <div class="header-left">
                        <!--toggle button start-->
                        <button id="showLeftPush"><i class="fa fa-bars"></i></button>
                        <!--toggle button end-->
                        <!--logo -->
                        <div class="logo">
                            <a href="index.html">
                                <h1>Empee</h1>
                                <span>Skylarksoft</span>
                            </a>
                        </div>
                        <!--//logo-->
                        <!--search-box-->
                        <div class="search-box">
                            <form class="input">
                                <input class="sb-search-input input__field--madoka" placeholder="Search..." type="search" id="input-31" />
                                <label class="input__label" for="input-31">
                                    <svg class="graphic" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                                        <path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
                                    </svg>
                                </label>
                            </form>
                        </div><!--//end-search-box-->
                        <div class="clearfix"> </div>
                    </div>

                        <!--notification menu end -->
                        <div class="profile_details" ng-controller="NavbarController as vm">
                            <ul>
                                <li class="dropdown profile_details_drop">
                                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <div class="profile_img">
                                            <span class="prfil-img"><img src="images/a.png" alt=""> </span>
                                            <div class="user-name">
                                                <p>Wikolia</p>
                                                <span>Administrator</span>
                                            </div>
                                            <i class="fa fa-angle-down lnr"></i>
                                            <i class="fa fa-angle-up lnr"></i>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu drp-mnu">
                                        <li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>
                                        <li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li>
                                        <li> <a href="javascript:void(0)" ng-click="vm.logout()"><i class="fa fa-sign-out"></i> Logout</a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <!-- //header-ends -->


                <!-- main content start-->
                <div id="page-wrapper">
                    <div class="main-page">
                        <!-- ui-view -->
                      <div ng-controller="DashboardController as vm">
                            <div ui-view>
                                <h1 class="page-header">Dashboard</h1>
                                <div class="panel-group" ng-repeat="post in vm.posts">
                                  <div class="panel panel-default">
                                    <div class="panel-body">
                                    <div class="row">
                                      <div class="col-md-3"><img class="img img-thumbnail" src="img/user.png" /></div>
                                      <div class="col-md-9">
                                        <h3>{{ post.title }}</h3>
                                        <p class="lead">{{ post.description }}<a ui-sref=".postDetail({postID: post.id})"><button class="btn btn-default">Read</button></a></p>
                                      </div>
                                    </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                      </div>
                    </div>
                </div>
                <!-- Footer -->
                <ng-include  src="'templates/blocks/footer.html'"></ng-include>

            </div>
    </div>


