<div class="col-md-8 col-md-offset-2" ng-controller="ProjectController as vm">
    <div class="row">
    <h2>Projects list</h2>
        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="project in vm.projects">
                <!--<td>{{ member.id }}</td>-->
                <td>{{ project.id }}</td>
                <td>{{ project.title }}</td>
                <td><a ui-sref=".projectDetail({ projectID: project.id })"><button type="button" class="btn btn-link">View</button></a></td>
            </tr>
        </table>
    </div>
</div>
<div ui-view></div>