<div class="main-page login-page ">
    <h3 class="title1">Reset password</h3>
    <div class="widget-shadow">
        <div class="login-top">
            <h4>Please set your password</h4>
        </div>
        <div class="alert alert-danger" ng-show="vm.message.danger" ng-repeat="error in vm.message.danger">{{ error }}</div>
        <div class="alert alert-success" ng-show="vm.message.success">{{ vm.message.success }}</div>
        <div class="login-body">
            <form ng-submit="vm.resetPass()">
                <input type="password" class="form-control" name="password" placeholder="Enter new password" ng-model="vm.new_password" required autofocus>
                <input type="password" class="form-control" name="password" placeholder="Conform your password" ng-model="vm.confirm_password" required autofocus>
                <input type="submit" name="Submit" value="Submit">
                <div class="forgot-grid">
                    <div class="forgot">
                        <a ui-sref="login">Login</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </form>
        </div>
    </div>

    <div class="login-page-bottom">
        <h5> - OR -</h5>
        <div class="social-btn"><a href="#"><i class="fa fa-facebook"></i><i>Sign In with Facebook</i></a></div>
        <div class="social-btn sb-two"><a href="#"><i class="fa fa-twitter"></i><i>Sign In with Twitter</i></a></div>
    </div>
</div>
